<!-- 회원가입 콘텐츠 본문 영역 -->
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="login-wrapper">
    <form action="/entry" method="post" id="entryForm">
      <div class="login-screen">
        <div class="login-body">
          <a href="index.html" class="login-logo">
            <img src="img/logo.svg" alt="Quick Chat" />
          </a>
          <h6>
            풀스택 채팅방에 오신것을 환영합니다.<br />계정 생성을
            진행하여주세요!
          </h6>
          <div class="field-wrapper">
            <input type="email" name="email" id="email" />
            <div class="field-placeholder">Email ID</div>
          </div>
          <div class="field-wrapper">
            <input type="password" name="password" id="password" />
            <div class="field-placeholder">Password</div>
          </div>
          <div class="field-wrapper mb-3">
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
            <div class="field-placeholder">Confirm Password</div>
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-primary ml-auto">
              Sign Up
            </button>
          </div>
        </div>
        <div class="login-footer">
          <span class="additional-link"
            >Have an account?
            <a href="/login" class="btn btn-secondary">Login</a></span
          >
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#email").focus();
  });

  $("#entryForm").submit(function () {
    if ($("#email").val() == "") {
      alert("메일주소를 입력해주세요!");
      $("#email").focus();
      //폼 제출 차단.
      return false;
    }
    if ($("#password").val() == "") {
      alert("암호를 입력해주세요!");
      $("#password").focus();
      //폼 제출 차단.
      return false;
    }
    if ($("#confirmPassword").val() == "") {
      alert("암호 확인값을 입력해주세요!");
      $("#passwordConfirm").focus();
      //폼 제출 차단.
      return false;
    }
    if ($("#password").val() != $("#confirmPassword").val()) {
      alert("암호 값이 일치하지 않습니다.");
      $("#password").val("");
      $("#confirmPassword").val("");
      $("#password").focus();
      //폼 제출 차단.
      return false;
    }
    //폼 제출 허용.
    return true;
  });
</script>
