<!-- 로그인 콘텐츠 본문 영역 -->

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="login-wrapper">
    <form action="/login" method="post">
      <div class="login-screen">
        <div class="login-body">
          <a href="index.html" class="login-logo">
            <img src="img/logo.svg" alt="Quick Chat" />
          </a>
          <h6>오신것을 환영합니다.<br />로그인을 진행하세요!</h6>
          <div class="field-wrapper">
            <input type="email" autofocus />
            <div class="field-placeholder">Email ID</div>
          </div>
          <div class="field-wrapper mb-3">
            <input type="password" />
            <div class="field-placeholder">Password</div>
          </div>
          <div class="actions">
            <a href="/find">Forgot password?</a>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
        <div class="login-footer">
          <span class="additional-link"
            >No Account?
            <a href="/entry" class="btn btn-secondary">Sign Up</a></span
          >
        </div>
      </div>
    </form>
  </div>
</div>
