<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원로그인</title>
  </head>
  <body>
    <form action="/member/login" method="post">
      메일주소:<input type="text" name="email" /> <br />
      암호:<input type="password" name="password" /><br />
      <p id="message"></p>
      <button type="submit">로그인</button>
    </form>
    <script>
      var result = "<%=resultMsg%>";
      if (result != "") {
        // alert(result);
        document.getElementById("message").innerText = result;
      }
    </script>
  </body>
</html>
