<!-- 회원가입 콘텐츠 본문 영역 -->
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="login-wrapper">
    <form action="/login" method="get">
      <div class="login-screen">
        <div class="login-body">
          <a href="index.html" class="login-logo">
            <img src="img/logo.svg" alt="Quick Chat" />
          </a>
          <h6>
            풀스택 채팅방에 오신것을 환영합니다.<br />계정 생성을
            진행하여주세요!
          </h6>
          <div class="field-wrapper">
            <input type="email" autofocus />
            <div class="field-placeholder">Email ID</div>
          </div>
          <div class="field-wrapper">
            <input type="password" />
            <div class="field-placeholder">Password</div>
          </div>
          <div class="field-wrapper mb-3">
            <input type="password" />
            <div class="field-placeholder">Confirm Password</div>
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-primary ml-auto">
              Sign Up
            </button>
          </div>
        </div>
        <div class="login-footer">
          <span class="additional-link"
            >Have an account?
            <a href="/login" class="btn btn-secondary">Login</a></span
          >
        </div>
      </div>
    </form>
  </div>
</div>
