<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
  <div class="login-wrapper">
    <form action="/login" method="get">
      <div class="login-screen">
        <div class="login-body pb-4">
          <a href="/login" class="login-logo">
            <img src="img/logo.svg" alt="Quick Chat" />
          </a>
          <h6>이메일을 통해서 비밀번호 찾기를 진행하여 주세요!</h6>
          <div class="field-wrapper mb-3">
            <input type="email" autofocus />
            <div class="field-placeholder">Email ID</div>
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-primary ml-auto">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
