<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회사소개 - <%= companyName %></title>
  </head>
  <body>
    <h1>연락처</h1>
    <p>대표메일: <%= email %></p>
    <p>전화번호: <%= telephone %></p>
    <p>주소: <%= address %></p>
  </body>
</html>
