<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 계정 생성 웹페이지</title>
  </head>
  <body>
    <h1>관리자 계정 생성 웹페이지</h1>

    <form action="/admin/create" method="post">
      아이디: <input type="text" name="userId" /> <br />
      비밀번호: <input type="password" name="userPassword" /> <br />
      <input type="submit" value="저장" />
      <a href="/admin/list">관리자 생성 페이지</a>
    </form>
  </body>
</html>
