<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회사소개 - <%= companyName %></title>
  </head>
  <body>
    <h1><%= companyName %> 회사소개 웹페이지입니다.</h1>
    <p>
      저희회사는 강서구 마곡 근처에 위치하고 it 교육을 주로 제공하고 있습니다.
    </p>
    <p>
      서울시 강서구 근처에 있고요 it 교육을 제공하는 업체입니다.<%= companyName
      %>
    </p>
    <p>
      glow learn은 따뜻하게 배우며 성장하는 it 교육을 제공합니다. ceo <%= ceo %>
    </p>
  </body>
</html>
