<!DOCTYPE html>

<html>
    <head>
        <title>신규메인페이지</title>
    </head>

    <body>
        <h1>메인페이지</h1>
        <nav>
            <a href="/main">홈</a>
            <a href="/auth/login">로그인</a>|
            <a href="/member/join">회원가입</a>|
            <a href="/auth/logout">로그아웃</a>|
            <a href="/goods/special">스폐셜제품</a>|
            <a href="/contact">연락처</a>|
            <a href="/company">회사소개</a>|
            <a href="/welcome">대표인삿말</a>|
        </nav>


        <p>여기는 신규 메인 페이지입니다.</p>
    </body>

</html>