<!DOCTYPE html>
<html>
  <head>
    <title>대표소개</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>대표인사말</h1>
    <p>열심히 하겠습니다. 많이 도와주세요.</p>
  </body>
</html>
