<!DOCTYPE html>
<html>
  <head>
    <meta lang="ko" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>오름캠프 풀스택 과정 관리자 페이지</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/DAY10/" rel="stylesheet" />

    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
      <div>
        <div>
          <h1 class="logo-name">오름</h1>
        </div>
        <h3>오름 관리자 페이지에 오신것을 환영합니다.</h3>
        <p>
          관리자 페이지에 오신것을 환영합니다.
          <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <p>관리자 페이지 회원가입</p>
        <form class="m-t" role="form" action="/admin/create" method="post">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="소속회사코드"
              name="company_code"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="부서명"
              name="dept_name"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="관리자 계정 아이디 "
              name="admin_id"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="관리자 계정 암호"
              name="admin_password"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="관리자 이름"
              name="admin_name"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="관리자 메일주소"
              name="email"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="관리자 전화번호"
              name="telephone"
              required=""
            />
          </div>

          <button type="submit" class="btn btn-primary block full-width m-b">
            회원가입
          </button>

          <p class="text-muted text-center">
            <small>Do not have an account?</small>
          </p>
          <a class="btn btn-sm btn-white btn-block" href="/admin/modify"
            >관리자 회원 정보 수정</a
          >
        </form>
        <p class="m-t">
          <small> &copy; 2023</small>
        </p>
      </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
