<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>즐거운 코딩세계에 오신것을 환영합니다. <%= title %></p>
  </body>
</html>
