<!DOCTYPE html>
<html>
    <head>
        <title>회원가입 페이지</title>
    </head>

    <body>
        <h1>회원가입 페이지</h1>

        <!-- action="/member/entry" 이건 링크주소! 도메인 링크 주소 
        http://localhost:3000/member/entry -->
        <form action="/member/entry" method="post" onsubmit="return fnFormJoin();">
            <!-- input요소의 name 속성에 지정된 값은 백엔드 라우팅메소드에서
            req.body.UI요소의 네임값으로 사용되어 사용자 입력한 해당 html 요소의 값을 백엔드에서
            추출할수 있게 도와줍니다. -->
            메일주소: <input type="text" name="email" id="email" value=""/> <br/>
            암호: <input type="password" name="password" id="password"> <br/>
            이름: <input type="text" name="name" id="name"> <br/>
            전화번호: <input type="tel" name="phone" id="phone"> <br/>

            <!-- 회원가입 submit 버튼이 클릭되면 form 태그 이벤트중에 onsubmit() 이벤트핸들러 -->
            <input type="submit" value="회원가입"> <!-- form 태그 안에 사용하는 보내기 버튼-->
        </form>

        <script>

            // 폼 사용자 입력값 유효성 검사 체크함수
            function fnFormJoin() {
                if(document.getElementById("email").value == "") {
                    alert("메일주소를 입력해주세요.");
                    document.getElementById("email").focus();
                    return false;
                }

                if(document.getElementById("password").value == "") {
                    alert("암호를 입력해주세요.");
                    document.getElementById("password").focus();
                    return false;
                }

                if(document.getElementById("name").value == "") {
                    alert("이름을 입력해주세요.");
                    document.getElementById("name").focus();
                    return false;
                }

                if(document.getElementById("phone").value == "") {
                    alert("전화번호를 입력해주세요.");
                    document.getElementById("phone").focus();
                    return false;
                }
                return true;
            }

        </script>
    </body>
</html>
