<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>게시글 정보 관리</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <!--추가 스타일-->
  </head>

  <body>
    <div id="wrapper">
      <!--좌측 메뉴 영역-->
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="block m-t-xs font-bold">Example user</span>
                  <span class="text-muted text-xs block"
                    >menu <b class="caret"></b
                  ></span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                  <li><a class="dropdown-item" href="login.html">Logout</a></li>
                </ul>
              </div>
              <div class="logo-element">IN+</div>
            </li>
            <li class="active">
              <a href="login.html"
                ><i class="fa fa-th-large"></i>
                <span class="nav-label">로그인</span></a
              >
            </li>
            <li>
              <a href="entry.html"
                ><i class="fa fa-th-large"></i>
                <span class="nav-label">회원가입</span>
              </a>
            </li>
            <li>
              <a href="login.html"
                ><i class="fa fa-th-large"></i>
                <span class="nav-label">게시글목록</span>
              </a>
            </li>
            <li>
              <a href="write.html"
                ><i class="fa fa-th-large"></i>
                <span class="nav-label">게시글작성</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!--우측 영역-->
      <div id="page-wrapper" class="gray-bg">
        <!--우측 상단 영역 -->
        <div class="row border-bottom">
          <nav
            class="navbar navbar-static-top white-bg"
            role="navigation"
            style="margin-bottom: 0"
          >
            <div class="navbar-header">
              <a
                class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                href="#"
                ><i class="fa fa-bars"></i>
              </a>
              <form
                role="search"
                class="navbar-form-custom"
                method="post"
                action="#"
              >
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Search for something..."
                    class="form-control"
                    name="top-search"
                    id="top-search"
                  />
                </div>
              </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <a href="#"> <i class="fa fa-sign-out"></i> Log out </a>
              </li>
            </ul>
          </nav>
        </div>

        <!--우측 콘텐츠 헤더영역 -->
        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
            <h2>신규 게시글 등록</h2>
            <ol class="breadcrumb">
              <li><a href="/Home/Index">Home</a> ></li>
              <li>
                <a>신규 게시글 등록</a>
              </li>
              <li class="active">
                <strong>조회</strong>
              </li>
            </ol>
          </div>
          <div class="col-lg-2"></div>
        </div>

        <!--우측 콘텐츠 영역 -->
        <form action="/article/create" method="post" id="articleForm">
          <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label class="control-label">게시판</label>
                    <select
                      name="boardTypeCode"
                      id="boardTypeCode"
                      class="form-control"
                    >
                      <option value="0">선택</option>
                      <option value="1">공지게시판</option>
                      <option value="2">기술블로깅</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- 글제목 -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">글제목</label>
                    <input
                      type="text"
                      name="title"
                      id="title"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <!-- 글내용 -->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">글내용</label>
                    <textarea
                      class="form-control"
                      name="contents"
                      id="contents"
                      rows="10"
                      cols="5"
                    ></textarea>
                  </div>
                </div>
              </div>
              <!-- 게시글유형, 게시여부, 등록자 입력영역 -->
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시글유형</label>
                    <select
                      name="articleTypeCode"
                      id="articleTypeCode"
                      class="form-control"
                    >
                      <option value="0">선택</option>
                      <option value="1">상단고정게시글</option>
                      <option value="2">일반게시글</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">게시여부</label>
                    <select
                      name="isDisplayCode"
                      id="isDisplayCode"
                      class="form-control"
                    >
                      <option value="0">선택</option>
                      <option value="Y">게시함</option>
                      <option value="N">게시안함</option>
                    </select>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">작성자명</label>
                    <input
                      type="text"
                      name="register"
                      id="register"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary">저장</button>
                  <a href="/article/list" class="btn btn-info">목록</a>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!--우측 하단 풋터 영역-->
        <div class="footer">
          <div class="pull-right">10GB of <strong>250GB</strong> Free.</div>
          <div><strong>Copyright</strong> Example Company &copy; 2014-2018</div>
        </div>
      </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <!--추가 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      //서버에서 보내준 html웹페이지가 사용자

      //서버에서 보내준 html웹페이지가 사용자 웹브라우저에
      //모두 렌더링이 완료된 시점에 발생 $(document).ready();
      $(document).ready(function () {
        $("#boardTypeCode").focus();
        // alert("게시글 홈페이지가 렌더링 완료되었습니다.");
        console.log(
          "게시글 등록 웹페이지가 웹브라우저에 모두 렌더링 완료되었습니다."
        );
      });

      //form태그내 사용자가 입력한 데이터 유효성검사(validation check)함수 구현
      $("#articleForm").submit(function () {
        //클라이언트 자바스크립트 디버거 직접(코드상에) 설정하기
        //debuger;

        console.log("게시판유형 선택코드:", $("#boardTypeCode").val());

        //게시판 유형값 선택여부 체크
        if ($("#boardTypeCode").val() == "0") {
          alert("게시판 유형을 선택해주세요. ");
          $("#boardTypeCode").focus();
          return false; //더이상 코드가 흘러 가지 않는다.
        }
        //제목 유효성검사
        if ($("#title").val() == "") {
          alert("제목을 입력해 주세요 ");
          $("#boardTypeCode").focus();
          return false; //더이상 코드가 흘러 가지 않는다.
        }

        if ($("#articleTypeCode").val() == "0") {
          alert("게시글 유형을 선택해주세요. ");
          $("#articleTypeCode").focus();
          return false; //더이상 코드가 흘러 가지 않는다.
        }

        if ($("#isDisplayCode").val() == "0") {
          alert("게시판 여부를 선택해주세요. ");
          $("#isDisplayCode").focus();
          return false; //더이상 코드가 흘러 가지 않는다.
        }

        if ($("#register").val() == "") {
          alert("작성자명을 입력해주세요! ");
          $("#register").focus();
          return false; //더이상 코드가 흘러 가지 않는다.
        }

        //최종 웹브라우저에서 서버로 데이터를 전송하기전에 클라이언트 디버깅을 걸어보자!
        //debuger;

        return true;
      });
    </script>
  </body>
</html>
