<html>
  <body>
    <h1>상품목록페이지</h1>

    <table>
      <thead>
        <tr>
          <th>제품번호</th>
          <th>제품명</th>
          <th>가격</th>
          <th>재고수령</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/product/detail/1">1</a></td>
          <td><a href="/product/detail?pid=1&pname=LG노트북">LG노트북</a></td>
          <td><a href="/product/detail/1/LG노트북/6000">6000</a></td>
          <td>5</td>
        </tr>

        <tr>
          <td><a href="/product/detail/2">2</a></td>
          <td>
            <a href="/product/detail?pid=2&pname=삼성노트북">삼성노트북</a>
          </td>
          <td>5000</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
