<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 웹페이지</title>
  </head>
  <body>
    <h1>게시판 웹페이지</h1>

    <form action="/article/create" method="post">
      아이디: <input type="text" name="userId" /> <br />
      비밀번호: <input type="password" name="userPassword" /> <br />
      <input type="submit" value="저장" />
      <a href="/article/list">게시판 페이지</a>
    </form>
  </body>
</html>
