<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 수정 웹페이지</title>
  </head>
  <body>
    <h1>게시글 수정 웹페이지</h1>

    <form action="/article/modify" method="post">
      아이디: <input type="text" name="userId" /> <br />
      비밀번호: <input type="password" name="userPassword" /> <br />
      <input type="submit" value="저장" />
      <a href="/article/list">관리자 생성 페이지</a>
      <a href="/article/delete">관리자 삭제</a>
    </form>
  </body>
</html>
