<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메세지 페이지</title>
  </head>
  <body>
    <h1>메세지 페이지</h1>
    <h2 href="/message/modify"><button>메세지 수정</button></h2>
  </body>
</html>
